// === COLOR ===
$background-color: 	white;
$light-gray: #F5F5F5;
$pastel-red: #ff6961;
$pastel-yellow: #d0c722;
$pastel-green: #77dd77;

// === FONT ===
@import url('https://fonts.googleapis.com/css?family=Raleway');
$font-family: 'Raleway', sans-serif;
$font-color: black;